include ../header
    h1= h1
    p Сайт сделан для демонстрации меня как специалиста в интернете. 
        | Я постарался сделать его индивидуальным, чтобы он отражал и частичку
        | моего вкуса и ход мыслей. А чтобы не было скучно - добавил в него и 
        | немного 
        a(href='/about/')= пасхолочек
        | .
include ../footer