doctype html
html(lang='en')

    include ./include/header

        section.content-container(aria-label='Personal and contact information')
            include ./include/personal

        section.content-container(aria-label='Main title of page')
            h1 Mikhail&nbsp;Goloto, web&nbsp;developer

            .job-ready ready for remote job or relocation

        section.content-container(aria-label='Links that can say more about me')
            include ./include/links

        section.content-container(aria-label='Timeline of my work and technologies experience')
            include ./include/timeline

    include ./include/footer
