include ./include/header

    .content-container
        include ./include/personal

    .content-container
        h1.wrap-container
            span.wrap-container__item Mikhail Goloto, 
            | &nbsp;
            span.wrap-container__item web developer

        .job-ready ready for remote job or relocation

    .content-container
        include ./include/links

    .content-container
        include ./include/timeline

include ./include/footer
