.header {
  display: flex;
  background-color: $purple;
  color: white;

  &:hover {
    .logo {
      &__dots {
        .dot-top {
          margin-top: 0;
          opacity: 0;
          transition-delay: 0s;
        }

        .dot-bottom {
          margin-top: 25px;
          opacity: 1;
          transition-delay: .2s;
        }
      }
    }
  }

  &__logo {
    .logo {
      display: flex;
      flex-direction: row;
      padding: 0 10px 0 10px;

      &__link {
        color: white;
        text-decoration: none;
        display: flex;
      }

      &__text {
        padding: 10px 0 10px 0;
        font-size: 36px;
        font-weight: 800;
      }

      &__dots {
        width: 21px;

        .dot-top, .dot-bottom {
          transition: .2s ease-in;
          height: 0;
          position: absolute;
        }

        .dot-top {
          opacity: 1;
          margin: 36px 7px 0 7px;
          transition-delay: .2s;
          border: white solid 4px;
          border-radius: 4px;
        }

        .dot-bottom {
          opacity: 0;
          margin-top: 45px;
        }
      }
    }
  }

  &__menu {
    .menu {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;

      &__item {
        background-color: $purple;

        &:hover {
          background-color: $purpleHover;

          .pop-up-menu {
            visibility: visible;
            opacity: 1;
          }

          .link {
            padding: 0 7px 0 7px;

            .link__icon {
              width: 22px;
              opacity: 1;
            }
          }
        }

        &:active {
          background-color: $purpleDoubleHover;
        }

        .link {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 18px 0 18px;
          text-decoration: none;
          color: white;
          transition: .2s ease-in;

          &__icon {
            width: 0;
            opacity: 0;
            transition: .2s ease-in;
          }
        }

        .pop-up-menu {
          visibility: hidden;
          opacity: 0;
          transition: opacity .2s ease-in, visibility .2s ease-in;
          display: flex;
          position: absolute;
          left: 0;
          background-color: $purpleHover;
          z-index: 10;
          height: auto;
          width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;

          &__item {
            background-color: $purpleHover;

            &:hover {
              background-color: $purpleDoubleHover;
            }

            .link {
              padding: 12px;
              height: auto;
            }
          }
        }
      }
    }
  }
}