ul.links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;

  svg {
    height: 50px;
    fill: $purple;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    &:hover {
      background-color: #ddeeff;
    }
  }

  svg.github {
    #border {
      fill: aliceblue;
    }

    &:hover {
      #background {
        fill: white;
      }

      #border {
        fill: black;
      }
    }
  }

  svg.hacker-rank {
    #border {
      fill: aliceblue;
    }

    &:hover {
      #symbol {
        fill: white;
      }

      #border {
        fill: #2fc363;
      }
    }
  }

  svg.linked-in {
    #border {
      fill: aliceblue;
    }

    &:hover {
      #symbols {
        fill: white;
      }

      #border {
        fill: #0077b5;
      }
    }
  }

  svg.telegram {
    #background {
      fill: aliceblue;
    }

    &:hover {
      #logo {
        fill: white;
      }

      #background {
        fill: #039be5;
      }
    }
  }

  svg.vk {
    #border {
      fill: aliceblue;
    }

    &:hover {
      #symbols {
        fill: white;
      }

      #border {
        fill: #5181b8;
      }
    }
  }
}