.main {
  .timeline {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: row;

      &_tech {
        color: $purple;
      }

      &:hover {
        .timeline__description {
          .description {
            .description__logo {
              width: 100%;
            }

            .false-description {
              width: 0;
            }
          }
        }

        .timeline__line {
          .circle_experience {
            background-color: black;
          }

          .circle_tech {
            background-color: $purple;
          }
        }
      }
    }

    &__years {
      font-size: 22px;
      margin: auto 10px auto 10px;

      .years {
        &__bottom-line {
          font-size: 13px;
          color: gray;
          text-align: left;
        }
      }

      .years-plug {
        .plug {
          color: transparent;
        }
      }
    }

    &__line {
      display: flex;
      justify-content: space-around;
      margin: 0 10px 0 10px;
      position: relative;
      background-color: black;
      width: 4px;

      &_tech {
        background-color: $purple;
      }

      .circle {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: aliceblue;
        border-radius: 8px;
        border: solid;
        top: calc(50% - 6px);

        &_tech {
          border-color: $purple;
        }

        &_experience {
          border-color: black;
          transition: .2s ease-in;
        }
      }
    }

    &__description {
      width: 100%;
      position: relative;

      .description {
        display: flex;
        margin: 10px;
        text-align: right;
        height: calc(100% - 20px);

        &__top-line {
          z-index: 1;

          &_tech {
            font-size: 22px;
            line-height: 32px;
            font-weight: 600;
            text-align: left;
          }
        }

        &__logo {
          height: 100%;
          width: 0;
          transition: 0.6s ease-out;
        }

        &__empty {
          height: 100%;
          width: 100%;
          transition: 0.6s ease-out;
        }

        .redbee {
          background: url("/img/redbee-logo.svg") left no-repeat;
          background-size: 148px;
        }

        .uni-dubna {
          background: url("/img/unidubna-logo.svg") left no-repeat;
          background-size: 38px;
        }

        .jinr {
          background: url("/img/jinr-logo.svg") left no-repeat;
          background-size: 53px;
        }

        .js {
          background: url("/img/js-logo.svg") right no-repeat;
          background-size: 53px;
        }

        .php {
          background: url("/img/php-logo.svg") right no-repeat;
          background-size: 53px;
        }

        .c-sharp {
          background: url("/img/c-sharp-logo.svg") right no-repeat;
          background-size: 53px;
        }

        &__bottom-line {
          font-size: 14px;
          color: gray;
          z-index: 1;

          &_tech {
            color: $purpleHover;
            text-align: left;
          }
        }
      }

      .description-row {
        flex-direction: row;
      }

      .description-column {
        flex-direction: column;
      }
    }

    &__item:first-child, &__item:last-child {
      display: flex;
      flex-direction: row;

      .timeline__line {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 10px 0 10px;
        position: relative;
        width: 4px;

        .line_visible {
          background-color: black;
          height: 50%;
        }

        .line-invisible {
          height: 50%;
          background-color: $backgroundColor;
        }

        .circle {
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: $backgroundColor;
          border-radius: 8px;
          border: black solid;
          left: -6px;

          &_tech {
            border-color: $purple;
          }
        }
      }
    }

    &__item:first-child {
      .tech-line {
        .line_visible {
          background: linear-gradient(0deg, rgba(99, 0, 156, 1) 0%, rgba(240, 248, 255, 1) 100%);
        }
      }
    }

    &__item:last-child {
      .tech-line {
        .line_visible {
          background: linear-gradient(0deg, rgba(240, 248, 255, 1) 0%, rgba(99, 0, 156, 1) 100%);
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .main {
    .timeline {
      .timeline__item.timeline__item_experience {
        flex-direction: row-reverse;

        .timeline__line.timeline__line_tech,
        .timeline__description.timeline__description_tech {
          display: none;
        }
      }

      .timeline__item.timeline__item_tech {
        .timeline__line.timeline__line_experience,
        .timeline__description.timeline__description_experience {
          display: none;
        }

        .timeline__line.timeline__line_tech {
          background: linear-gradient(black 0%, $purple 30%, $purple 70%, black 100%);
        }
      }

      .timeline__item {
        .timeline__description {
          .description {
            text-align: left;
          }
        }

        .timeline__line.tech-line {
          display: none;
        }
      }
    }
  }
}