doctype html
html
    include ./head
    body
        header.header
            .narrow-container
                a.header__logo(href='/') goloto.dev
                .header__menu
                    ul.menu
                        li.menu__item.transition-std
                            a(href='/projects') projects
                        li.menu__item.transition-std
                            a(href='/apps') apps
                            .header__pop-up-menu
                                ul.pop-up-menu
                                    .narrow-container
                                        li.pop-up-menu__item.transition-std
                                            a(href='/apps/calc') ➗calc
                                        li.pop-up-menu__item.transition-std
                                            a(href='/apps/404') &#128030;404
                                        li.pop-up-menu__item.transition-std
                                            a(href='/apps/mines') &#128163;mines
                        li.menu__item.transition-std
                            a(href='/about') about
                        li.menu__item.transition-std
                            a(href='/bio') biography

        main.main
            .narrow-container.main__column
                span