doctype html
html(lang='en')
    include ./head
    body
        header.header(id='header').to-change_background
            .narrow-container
                .header__logo
                    .logo
                        a.logo__link(href='/')
                            .logo__text goloto
                            .logo__dots
                                .dot_top(id='logo__dot_top')
                                .dot_bottom(id='logo__dot_bottom') 🚀
                            .logo__text dev
                nav.header__menu(role='menu')
                    ul.menu.to-change_background
                        li.menu__item(role='menuitem')
                            a.link(href='/projects')
                                .link__icon &#128194;
                                .link__text projects
                        li.menu__item(role='menuitem')
                            .link
                                .link__icon &#128230;
                                .link__text apps
                            .header__pop-up-menu
                                ul.pop-up-menu.to-change_background-hover
                                    .narrow-container
                                        li.pop-up-menu__item
                                            a.link(href='/apps/404')
                                                .link__icon &#128030;
                                                .link__text 404

        main.main
            .narrow-container.main__column
                |