head
    link(rel='stylesheet' type='text/css' href='/css/styles.css')
    link(rel='icon' type='image/png' href='/favicon.png')
    link(rel='apple-touch-icon' href='/favicon.png')
    title= title + ' — goloto.dev'
    meta(name="viewport" content="width=device-width; initial-scale=1")