ul.links
    li.links__item
        a(href='https://github.com/goloto' target='_blank')
            svg.github(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32")
                path(d="M16 5.343c-6.196 0-11.219 5.023-11.219 11.219 0 4.957 3.214 9.162 7.673 10.645.561.103.766-.244.766-.54 0-.267-.01-1.152-.016-2.088-3.12.678-3.779-1.323-3.779-1.323-.511-1.296-1.246-1.641-1.246-1.641-1.02-.696.077-.682.077-.682 1.126.078 1.72 1.156 1.72 1.156 1.001 1.715 2.627 1.219 3.265.931.102-.723.392-1.219.712-1.498-2.49-.283-5.11-1.246-5.11-5.545 0-1.226.438-2.225 1.154-3.011-.114-.285-.501-1.426.111-2.97 0 0 .941-.301 3.085 1.15.894-.25 1.854-.373 2.807-.377.953.004 1.913.129 2.809.379 2.14-1.453 3.083-1.15 3.083-1.15.613 1.545.227 2.685.112 2.969.719.785 1.153 1.785 1.153 3.011 0 4.31-2.624 5.259-5.123 5.537.404.348.761 1.03.761 2.076 0 1.5-.015 2.709-.015 3.079 0 .299.204.648.772.538 4.455-1.486 7.666-5.69 7.666-10.645 0-6.195-5.023-11.219-11.219-11.219z")

    li.links__item
        a(href='https://www.hackerrank.com/goloto' target='_blank')
            svg.hacker-rank(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
                path(d="M12 0c1.285 0 9.75 4.886 10.392 6c.645 1.115.645 10.885 0 12S13.287 24 12 24s-9.75-4.885-10.395-6c-.641-1.115-.641-10.885 0-12C2.25 4.886 10.715 0 12 0zm2.295 6.799a.259.259 0 0 0-.258.258v3.875H9.963V6.908h.701a.255.255 0 0 0 .254-.258a.257.257 0 0 0-.123-.221L9.223 4.92a.303.303 0 0 0-.226-.109a.265.265 0 0 0-.207.107L7.11 6.43a.257.257 0 0 0-.12.218c0 .143.113.258.255.258h.704l.008 10.035c0 .145.111.258.254.258h1.492a.258.258 0 0 0 .259-.256v-4.004h4.073v4.152h-.699a.26.26 0 0 0-.137.477l1.579 1.51a.301.301 0 0 0 .225.109a.264.264 0 0 0 .208-.109l1.679-1.51a.258.258 0 0 0-.135-.477h-.704l-.007-10.034a.257.257 0 0 0-.255-.26h-1.494v.002z")

    li.links__item
        a(href='https://www.linkedin.com/in/mikhail-goloto-3bb9561a5/' target='_blank')
            svg.linked-in(xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-miterlimit="1.414" viewBox="0 0 16 16" clip-rule="evenodd" stroke-linejoin="round")
                path(fill-rule="nonzero" d="M13.632 13.635h-2.37V9.922c0-.886-.018-2.025-1.234-2.025-1.235 0-1.424.964-1.424 1.96v3.778h-2.37V6H8.51v1.04h.03c.318-.6 1.092-1.233 2.247-1.233 2.4 0 2.845 1.58 2.845 3.637v4.188zM3.558 4.955a1.376 1.376 0 1 1-.001-2.751 1.376 1.376 0 0 1 .001 2.751zm1.188 8.68H2.37V6h2.376v7.635zM14.816 0H1.18C.528 0 0 .516 0 1.153v13.694C0 15.484.528 16 1.18 16h13.635c.652 0 1.185-.516 1.185-1.153V1.153C16 .516 15.467 0 14.815 0z")
    li.links__item
        a(href='https://vk.com/mgoloto' target='_blank')
            svg.vk(xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-miterlimit="1.414" viewBox="0 0 16 16" clip-rule="evenodd" stroke-linejoin="round")
                path(d="M7.828 12.526h.957s.288-.032.436-.19c.137-.147.133-.42.133-.42s-.02-1.284.576-1.473c.587-.187 1.34 1.24 2.14 1.788.604.416 1.063.326 1.063.326l2.137-.03s1.117-.07.587-.948c-.043-.072-.308-.65-1.588-1.838-1.34-1.244-1.162-1.043.452-3.194.983-1.31 1.376-2.11 1.253-2.452-.117-.326-.84-.24-.84-.24l-2.406.015s-.18-.025-.31.054c-.13.077-.213.258-.213.258s-.38 1.013-.89 1.876c-1.07 1.82-1.5 1.915-1.674 1.802-.407-.264-.305-1.058-.305-1.622 0-1.763.267-2.498-.52-2.688-.263-.063-.455-.105-1.124-.112-.86-.01-1.585.003-1.996.204-.274.134-.485.433-.357.45.16.02.52.097.71.357.248.335.24 1.088.24 1.088s.14 2.075-.33 2.333c-.326.177-.77-.184-1.726-1.834-.49-.845-.858-1.78-.858-1.78s-.072-.174-.2-.268c-.153-.113-.368-.15-.368-.15L.52 3.855s-.342.01-.468.16c-.112.132-.01.406-.01.406s1.79 4.187 3.818 6.298c1.858 1.935 3.968 1.808 3.968 1.808z")

    li.links__item
        a(href='https://t.me/goloto' target='_blank')
            svg.telegram(enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                circle(cx="12" cy="12" fill="aliceblue" r="12")
                path(d="m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z")
